{
  "openapi" : "3.1.0",
  "info" : {
    "description" : "![](https://raw.githubusercontent.com/ourresearch/openalex-docs/main/.gitbook/assets/OpenAlex-logo-5.png)\n\n**OpenAlex** is a fully open catalog of the global research system.\n\nIt's named after the [ancient Library of Alexandria](https://en.wikipedia.org/wiki/Library_of_Alexandria) and made by the nonprofit [OurResearch](https://ourresearch.org/).\n\n## OpenAPI Specification\n\n[Mearman/openalex-api-spec](https://github.com/Mearman/openalex-api-spec)\n\nThis OpenAPI specification is reverse-engineered and derived from spec generated by [openapi-devtools](https://github.com/AndrewWalsh/openapi-devtools).\n\nThe specification document itself is OpenAPI version 3.1 and is generated from TypeScript source code.\n\n[![Open in](https://img.shields.io/badge/Open%20in-Swagger%20UI-85EA2D?style=for-the-badge&logo=Swagger&link=https://mearman.github.io/openalex-swagger-ui-react/)](https://mearman.github.io/openalex-swagger-ui-react/)\n\n**[Releases](https://github.com/Mearman/openalex-api-spec/releases)**\n\n## Clients\n\n[![TypeScript](https://img.shields.io/badge/TypeScript-3178C6?style=for-the-badge&logo=TypeScript&logoColor=white&link=https://github.com/Mearman/openalex-typescript)](https://github.com/Mearman/openalex-typescript)\n\n[![TypeScript Fetch](https://img.shields.io/badge/TypeScript%20Fetch-3178C6?style=for-the-badge&logo=TypeScript&logoColor=white&link=https://github.com/Mearman/openalex-typescript-fetch)](https://github.com/Mearman/openalex-typescript-fetch)\n\n[![TypeScript Node](https://img.shields.io/badge/TypeScript%20Node-339933?style=for-the-badge&logo=Node.js&logoColor=white&link=https://github.com/Mearman/openalex-typescript-node)](https://github.com/Mearman/openalex-typescript-node)\n\n[![Python](https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=Python&logoColor=white&link=https://github.com/Mearman/openalex-python)](https://github.com/Mearman/openalex-python)\n[![Open in](https://img.shields.io/badge/Open%20in-CodeSpaces-181717?style=for-the-badge&logo=GitHub&link=https://codespaces.new/Mearman/openalex-python)](https://codespaces.new/Mearman/openalex-python)\n[![Open in](https://img.shields.io/badge/Open%20in-Colab-F9AB00?style=for-the-badge&logo=Google%20Colab&link=https://colab.research.google.com/github/Mearman/openalex-python/blob/main/README.ipynb)](https://colab.research.google.com/github/Mearman/openalex-python/blob/main/README.ipynb)\n\n---",
    "license" : {
      "name" : "CC0",
      "url" : "https://creativecommons.org/publicdomain/zero/1.0/"
    },
    "title" : "OpenAlex",
    "version" : "0.1.0"
  },
  "externalDocs" : {
    "description" : "OpenAlex API",
    "url" : "https://docs.openalex.org/"
  },
  "servers" : [ {
    "url" : "https://api.openalex.org"
  } ],
  "paths" : {
    "/" : {
      "get" : {
        "description" : "Root endpoint",
        "externalDocs" : {
          "description" : "OpenAlex documentation",
          "url" : "https://openalex.org/rest-api"
        },
        "operationId" : "getRoot",
        "parameters" : [ {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/root200GetResponses"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "Root",
        "tags" : [ "info" ]
      }
    },
    "/authors" : {
      "get" : {
        "description" : "Get lists of authors",
        "operationId" : "getAuthors",
        "parameters" : [ {
          "$ref" : "#/components/parameters/api_key"
        }, {
          "$ref" : "#/components/parameters/cursor"
        }, {
          "$ref" : "#/components/parameters/filter"
        }, {
          "$ref" : "#/components/parameters/group_by_param"
        }, {
          "$ref" : "#/components/parameters/page_param"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/sample"
        }, {
          "$ref" : "#/components/parameters/search"
        }, {
          "$ref" : "#/components/parameters/seed"
        }, {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/sort"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/authorsGet200"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "List Authors",
        "tags" : [ "authors" ]
      }
    },
    "/authors/random" : {
      "get" : {
        "description" : "Get a random author",
        "operationId" : "getRandomAuthor",
        "parameters" : [ {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/authorGet200"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "Get Random Author",
        "tags" : [ "authors", "single", "random" ]
      }
    },
    "/authors/{id}" : {
      "get" : {
        "description" : "Get a single author by id",
        "operationId" : "getAuthor",
        "parameters" : [ {
          "$ref" : "#/components/parameters/authorIdParam"
        }, {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/authorGet200"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "Get Author",
        "tags" : [ "authors", "single" ]
      }
    },
    "/autocomplete" : {
      "get" : {
        "description" : "",
        "operationId" : "getAutocomplete",
        "parameters" : [ {
          "$ref" : "#/components/parameters/autocompleteQuery"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/autocompleteGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/autocomplete",
        "tags" : [ "autocomplete" ]
      }
    },
    "/autocomplete/authors" : {
      "get" : {
        "description" : "",
        "operationId" : "getAutocompleteAuthors",
        "parameters" : [ {
          "$ref" : "#/components/parameters/autocompleteQuery"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/autocompleteGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/autocomplete/authors",
        "tags" : [ "autocomplete", "authors" ]
      }
    },
    "/autocomplete/concepts" : {
      "get" : {
        "description" : "",
        "operationId" : "getAutocompleteConcepts",
        "parameters" : [ {
          "$ref" : "#/components/parameters/autocompleteQuery"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/autocompleteGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/autocomplete/concepts",
        "tags" : [ "autocomplete", "concepts" ]
      }
    },
    "/autocomplete/funders" : {
      "get" : {
        "description" : "",
        "operationId" : "getAutocompleteFunders",
        "parameters" : [ {
          "$ref" : "#/components/parameters/autocompleteQuery"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/autocompleteGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/autocomplete/funders",
        "tags" : [ "autocomplete", "funders" ]
      }
    },
    "/autocomplete/institutions" : {
      "get" : {
        "description" : "",
        "operationId" : "getAutocompleteInstitutions",
        "parameters" : [ {
          "$ref" : "#/components/parameters/autocompleteQuery"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/autocompleteGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/autocomplete/institutions",
        "tags" : [ "autocomplete", "institutions" ]
      }
    },
    "/autocomplete/publishers" : {
      "get" : {
        "description" : "",
        "operationId" : "getAutocompletePublishers",
        "parameters" : [ {
          "$ref" : "#/components/parameters/autocompleteQuery"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/autocompleteGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/autocomplete/publishers",
        "tags" : [ "autocomplete", "publishers" ]
      }
    },
    "/autocomplete/sources" : {
      "get" : {
        "description" : "",
        "operationId" : "getAutocompleteSources",
        "parameters" : [ {
          "$ref" : "#/components/parameters/autocompleteQuery"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/autocompleteGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/autocomplete/sources",
        "tags" : [ "autocomplete", "sources" ]
      }
    },
    "/autocomplete/works" : {
      "get" : {
        "description" : "",
        "operationId" : "getAutocompleteWorks",
        "parameters" : [ {
          "$ref" : "#/components/parameters/filter"
        }, {
          "$ref" : "#/components/parameters/search"
        }, {
          "$ref" : "#/components/parameters/autocompleteQuery"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/autocompleteGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/autocomplete/works",
        "tags" : [ "autocomplete", "works" ]
      }
    },
    "/concepts" : {
      "get" : {
        "description" : "",
        "operationId" : "getConcepts",
        "parameters" : [ {
          "$ref" : "#/components/parameters/api_key"
        }, {
          "$ref" : "#/components/parameters/cursor"
        }, {
          "$ref" : "#/components/parameters/filter"
        }, {
          "$ref" : "#/components/parameters/group_by_param"
        }, {
          "$ref" : "#/components/parameters/page_param"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/sample"
        }, {
          "$ref" : "#/components/parameters/search"
        }, {
          "$ref" : "#/components/parameters/seed"
        }, {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/sort"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/conceptsGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/concepts",
        "tags" : [ "concepts" ]
      }
    },
    "/concepts/random" : {
      "get" : {
        "description" : "Get a random concept",
        "operationId" : "getRandomConcept",
        "parameters" : [ {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/conceptGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/concepts/random",
        "tags" : [ "concepts", "single", "random" ]
      }
    },
    "/concepts/{id}" : {
      "get" : {
        "description" : "Get a single concept",
        "externalDocs" : {
          "description" : "Get a single concept",
          "url" : "https://docs.openalex.org/api-entities/concepts/get-a-single-concept"
        },
        "operationId" : "getConcept",
        "parameters" : [ {
          "$ref" : "#/components/parameters/conceptIdParam"
        }, {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/conceptGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/concepts/{id}",
        "tags" : [ "concepts", "single" ]
      }
    },
    "/funders" : {
      "get" : {
        "description" : "",
        "operationId" : "getFunders",
        "parameters" : [ {
          "$ref" : "#/components/parameters/api_key"
        }, {
          "$ref" : "#/components/parameters/cursor"
        }, {
          "$ref" : "#/components/parameters/filter"
        }, {
          "$ref" : "#/components/parameters/group_by_param"
        }, {
          "$ref" : "#/components/parameters/page_param"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/sample"
        }, {
          "$ref" : "#/components/parameters/search"
        }, {
          "$ref" : "#/components/parameters/seed"
        }, {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/sort"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/fundersGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/funders",
        "tags" : [ "funders" ]
      }
    },
    "/funders/random" : {
      "get" : {
        "description" : "Get a random funder",
        "operationId" : "getRandomFunder",
        "parameters" : [ {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/funderGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/funders/random",
        "tags" : [ "funders", "single", "random" ]
      }
    },
    "/funders/{id}" : {
      "get" : {
        "description" : "",
        "operationId" : "getFunder",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : { },
          "style" : "simple"
        }, {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/funderGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/funders/{id}",
        "tags" : [ "funders", "single" ]
      }
    },
    "/institutions" : {
      "get" : {
        "description" : "",
        "operationId" : "getInstitutions",
        "parameters" : [ {
          "$ref" : "#/components/parameters/api_key"
        }, {
          "$ref" : "#/components/parameters/cursor"
        }, {
          "$ref" : "#/components/parameters/filter"
        }, {
          "$ref" : "#/components/parameters/group_by_param"
        }, {
          "$ref" : "#/components/parameters/page_param"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/sample"
        }, {
          "$ref" : "#/components/parameters/search"
        }, {
          "$ref" : "#/components/parameters/seed"
        }, {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/sort"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/institutionsGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/institutions",
        "tags" : [ "institutions" ]
      }
    },
    "/institutions/random" : {
      "get" : {
        "description" : "Get a random institution",
        "operationId" : "getRandomInstitution",
        "parameters" : [ {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/institutionGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/institutions/random",
        "tags" : [ "institutions", "single", "random" ]
      }
    },
    "/institutions/{id}" : {
      "get" : {
        "description" : "",
        "operationId" : "getInstitution",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : { },
          "style" : "simple"
        }, {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/institutionGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/institutions/{id}",
        "tags" : [ "institutions", "single" ]
      }
    },
    "/people/{id}" : {
      "get" : {
        "description" : "",
        "operationId" : "getPerson",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : { },
          "style" : "simple"
        }, {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/getPerson200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/people/{id}",
        "tags" : [ "people" ]
      }
    },
    "/publishers" : {
      "get" : {
        "description" : "",
        "operationId" : "getPublishers",
        "parameters" : [ {
          "$ref" : "#/components/parameters/api_key"
        }, {
          "$ref" : "#/components/parameters/cursor"
        }, {
          "$ref" : "#/components/parameters/filter"
        }, {
          "$ref" : "#/components/parameters/group_by_param"
        }, {
          "$ref" : "#/components/parameters/page_param"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/sample"
        }, {
          "$ref" : "#/components/parameters/search"
        }, {
          "$ref" : "#/components/parameters/seed"
        }, {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/sort"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/publishersGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/publishers",
        "tags" : [ "publishers" ]
      }
    },
    "/publishers/random" : {
      "get" : {
        "description" : "Get a random publisher",
        "operationId" : "getRandomPublisher",
        "parameters" : [ {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/publisherGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/publishers/random",
        "tags" : [ "publishers", "single", "random" ]
      }
    },
    "/publishers/{id}" : {
      "get" : {
        "description" : "",
        "operationId" : "getPublisher",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : { },
          "style" : "simple"
        }, {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/publisherGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/publishers/{id}",
        "tags" : [ "publishers", "single" ]
      }
    },
    "/sources" : {
      "get" : {
        "description" : "",
        "operationId" : "getSources",
        "parameters" : [ {
          "explode" : true,
          "in" : "query",
          "name" : "group_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/sourcesGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/sources",
        "tags" : [ "sources" ]
      }
    },
    "/sources/random" : {
      "get" : {
        "description" : "Get a random source",
        "operationId" : "getRandomSource",
        "parameters" : [ {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/sourceGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/sources/random",
        "tags" : [ "sources", "single", "random" ]
      }
    },
    "/sources/{id}" : {
      "get" : {
        "description" : "",
        "operationId" : "getSource",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : { },
          "style" : "simple"
        }, {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/sourceGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/sources/{id}",
        "tags" : [ "sources", "single" ]
      }
    },
    "/works" : {
      "get" : {
        "description" : "",
        "operationId" : "getWorks",
        "parameters" : [ {
          "$ref" : "#/components/parameters/api_key"
        }, {
          "$ref" : "#/components/parameters/cursor"
        }, {
          "$ref" : "#/components/parameters/group_by_param"
        }, {
          "$ref" : "#/components/parameters/page_param"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/sample"
        }, {
          "$ref" : "#/components/parameters/search"
        }, {
          "$ref" : "#/components/parameters/seed"
        }, {
          "$ref" : "#/components/parameters/select"
        }, {
          "$ref" : "#/components/parameters/sort"
        }, {
          "$ref" : "#/components/parameters/filterWorks"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/works"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/works",
        "tags" : [ "works", "list" ]
      }
    },
    "/works/random" : {
      "get" : {
        "description" : "Get a random work",
        "operationId" : "getRandomWork",
        "parameters" : [ {
          "$ref" : "#/components/parameters/workAttributeSelectionParameter"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/workResp"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/works/random",
        "tags" : [ "works", "single", "random" ]
      }
    },
    "/works/{id}" : {
      "get" : {
        "description" : "Get a single work by its id",
        "externalDocs" : {
          "url" : "https://docs.openalex.org/api-entities/works/get-a-single-work"
        },
        "operationId" : "getWork",
        "parameters" : [ {
          "$ref" : "#/components/parameters/workId"
        }, {
          "$ref" : "#/components/parameters/workAttributeSelectionParameter"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/workResp"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/works/{id}",
        "tags" : [ "works", "single" ]
      }
    },
    "/works/{id}/ngrams" : {
      "get" : {
        "description" : "",
        "externalDocs" : {
          "url" : "https://docs.openalex.org/api-entities/works/get-n-grams"
        },
        "operationId" : "getWorkNgrams",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : { },
          "style" : "simple"
        }, {
          "$ref" : "#/components/parameters/mailtoHeader"
        }, {
          "$ref" : "#/components/parameters/mailtoQuery"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/workNgramsGet200Response"
          },
          "403" : {
            "$ref" : "#/components/responses/resp403"
          },
          "default" : {
            "$ref" : "#/components/responses/resp4xx"
          }
        },
        "summary" : "/works/{id}/ngrams",
        "tags" : [ "works", "ngrams", "single" ]
      }
    }
  },
  "components" : {
    "examples" : {
      "example" : {
        "value" : {
          "meta" : {
            "count" : 3475,
            "doi" : "https://doi.org/10.1093/comjnl/40.2_and_3.67",
            "openalex_id" : "https://openalex.org/W2089319476"
          },
          "ngrams" : [ {
            "ngram" : "unbounded Length Contexts for PPM",
            "ngram_count" : 1,
            "ngram_tokens" : 5,
            "term_frequency" : 1.7274140611504577E-4
          } ]
        }
      }
    },
    "parameters" : {
      "api_key" : {
        "explode" : true,
        "in" : "query",
        "name" : "api_key",
        "required" : false,
        "schema" : {
          "type" : "string"
        },
        "style" : "form"
      },
      "authorIdParam" : {
        "explode" : false,
        "in" : "path",
        "name" : "id",
        "required" : true,
        "schema" : {
          "pattern" : "^A[0-9]+$",
          "type" : "string"
        },
        "style" : "simple"
      },
      "autocompleteQuery" : {
        "explode" : true,
        "in" : "query",
        "name" : "q",
        "required" : false,
        "schema" : {
          "type" : "string"
        },
        "style" : "form"
      },
      "conceptIdParam" : {
        "explode" : false,
        "in" : "path",
        "name" : "id",
        "required" : true,
        "schema" : {
          "$ref" : "#/components/schemas/conceptIdPattern"
        },
        "style" : "simple"
      },
      "cursor" : {
        "explode" : true,
        "in" : "query",
        "name" : "cursor",
        "required" : false,
        "schema" : {
          "type" : "string"
        },
        "style" : "form"
      },
      "filter" : {
        "explode" : true,
        "in" : "query",
        "name" : "filter",
        "required" : false,
        "schema" : {
          "type" : "string"
        },
        "style" : "form"
      },
      "filterWorks" : {
        "description" : "Filter works by a specific field.\nSee the [filter works](https://docs.openalex.org/api-entities/works/filter-works) documentation for more information.\nValid filters are:\n\n\n- `abstract.search`\n- `apc_list.currency`\n- `apc_list.provenance`\n- `apc_list.value`\n- `apc_list.value_usd`\n- `apc_paid.currency`\n- `apc_paid.provenance`\n- `apc_paid.value`\n- `apc_paid.value_usd`\n- `author.id`\n- `author.orcid`\n- `authors_count`\n- `authorships.author.id`\n- `authorships.author.orcid`\n- `authorships.countries`\n- `authorships.institutions.continent`\n- `authorships.institutions.country_code`\n- `authorships.institutions.id`\n- `authorships.institutions.is_global_south`\n- `authorships.institutions.lineage`\n- `authorships.institutions.ror`\n- `authorships.institutions.type`\n- `authorships.is_corresponding`\n- `best_oa_location.is_accepted`\n- `best_oa_location.is_oa`\n- `best_oa_location.is_published`\n- `best_oa_location.landing_page_url`\n- `best_oa_location.license`\n- `best_oa_location.source.host_organization`\n- `best_oa_location.source.host_organization_lineage`\n- `best_oa_location.source.id`\n- `best_oa_location.source.is_in_doaj`\n- `best_oa_location.source.is_oa`\n- `best_oa_location.source.issn`\n- `best_oa_location.source.type`\n- `best_oa_location.version`\n- `best_open_version`\n- `cited_by`\n- `cited_by_count`\n- `cited_by_percentile_year.max`\n- `cited_by_percentile_year.min`\n- `cites`\n- `concept.id`\n- `concepts.id`\n- `concepts.wikidata`\n- `concepts_count`\n- `corresponding_author_ids`\n- `corresponding_institution_ids`\n- `countries_distinct_count`\n- `default.search`\n- `display_name`\n- `display_name.search`\n- `doi`\n- `doi_starts_with`\n- `from_created_date`\n- `from_publication_date`\n- `fulltext.search`\n- `fulltext_origin`\n- `grants.award_id`\n- `grants.funder`\n- `has_abstract`\n- `has_doi`\n- `has_fulltext`\n- `has_ngrams`\n- `has_oa_accepted_or_published_version`\n- `has_oa_submitted_version`\n- `has_old_authors`\n- `has_orcid`\n- `has_pdf_url`\n- `has_pmcid`\n- `has_pmid`\n- `has_raw_affiliation_string`\n- `has_references`\n- `host_venue.id`\n- `ids.mag`\n- `ids.openalex`\n- `ids.pmcid`\n- `ids.pmid`\n- `institution.id`\n- `institutions.continent`\n- `institutions.country_code`\n- `institutions.id`\n- `institutions.is_global_south`\n- `institutions.ror`\n- `institutions.type`\n- `institutions_distinct_count`\n- `is_corresponding`\n- `is_oa`\n- `is_paratext`\n- `is_retracted`\n- `journal`\n- `keyword.search`\n- `keywords.keyword`\n- `language`\n- `locations.is_accepted`\n- `locations.is_oa`\n- `locations.is_published`\n- `locations.landing_page_url`\n- `locations.license`\n- `locations.source.has_issn`\n- `locations.source.host_institution_lineage`\n- `locations.source.host_organization`\n- `locations.source.host_organization_lineage`\n- `locations.source.id`\n- `locations.source.is_in_doaj`\n- `locations.source.is_oa`\n- `locations.source.issn`\n- `locations.source.publisher_lineage`\n- `locations.source.type`\n- `locations.version`\n- `locations_count`\n- `mag`\n- `oa_status`\n- `open_access.any_repository_has_fulltext`\n- `open_access.is_oa`\n- `open_access.oa_status`\n- `openalex`\n- `openalex_id`\n- `pmcid`\n- `pmid`\n- `primary_location.is_accepted`\n- `primary_location.is_oa`\n- `primary_location.is_published`\n- `primary_location.landing_page_url`\n- `primary_location.license`\n- `primary_location.source.has_issn`\n- `primary_location.source.host_institution_lineage`\n- `primary_location.source.host_organization`\n- `primary_location.source.host_organization_lineage`\n- `primary_location.source.id`\n- `primary_location.source.is_in_doaj`\n- `primary_location.source.is_oa`\n- `primary_location.source.issn`\n- `primary_location.source.publisher_lineage`\n- `primary_location.source.type`\n- `primary_location.version`\n- `publication_date`\n- `publication_year`\n- `raw_affiliation_string.search`\n- `referenced_works`\n- `referenced_works_count`\n- `related_to`\n- `repository`\n- `sustainable_development_goals.id`\n- `sustainable_development_goals.score`\n- `title.search`\n- `title_and_abstract.search`\n- `to_publication_date`\n- `to_updated_date`\n- `type`\n- `type_crossref`\n- `version`",
        "examples" : {
          "abstract.search" : {
            "description" : "Search for works with abstract.search",
            "value" : "abstract.search:"
          },
          "apc_list.currency" : {
            "description" : "Search for works with apc_list.currency",
            "value" : "apc_list.currency:"
          },
          "apc_list.provenance" : {
            "description" : "Search for works with apc_list.provenance",
            "value" : "apc_list.provenance:"
          },
          "apc_list.value" : {
            "description" : "Search for works with apc_list.value",
            "value" : "apc_list.value:"
          },
          "apc_list.value_usd" : {
            "description" : "Search for works with apc_list.value_usd",
            "value" : "apc_list.value_usd:"
          },
          "apc_paid.currency" : {
            "description" : "Search for works with apc_paid.currency",
            "value" : "apc_paid.currency:"
          },
          "apc_paid.provenance" : {
            "description" : "Search for works with apc_paid.provenance",
            "value" : "apc_paid.provenance:"
          },
          "apc_paid.value" : {
            "description" : "Search for works with apc_paid.value",
            "value" : "apc_paid.value:"
          },
          "apc_paid.value_usd" : {
            "description" : "Search for works with apc_paid.value_usd",
            "value" : "apc_paid.value_usd:"
          },
          "author.id" : {
            "description" : "Search for works with author.id",
            "value" : "author.id:"
          },
          "author.orcid" : {
            "description" : "Search for works with author.orcid",
            "value" : "author.orcid:"
          },
          "authors_count" : {
            "description" : "Search for works with authors_count",
            "value" : "authors_count:"
          },
          "authorships.author.id" : {
            "description" : "Search for works with authorships.author.id",
            "value" : "authorships.author.id:"
          },
          "authorships.author.orcid" : {
            "description" : "Search for works with authorships.author.orcid",
            "value" : "authorships.author.orcid:"
          },
          "authorships.countries" : {
            "description" : "Search for works with authorships.countries",
            "value" : "authorships.countries:"
          },
          "authorships.institutions.continent" : {
            "description" : "Search for works with authorships.institutions.continent",
            "value" : "authorships.institutions.continent:"
          },
          "authorships.institutions.country_code" : {
            "description" : "Search for works with authorships.institutions.country_code",
            "value" : "authorships.institutions.country_code:"
          },
          "authorships.institutions.id" : {
            "description" : "Search for works with authorships.institutions.id",
            "value" : "authorships.institutions.id:"
          },
          "authorships.institutions.is_global_south" : {
            "description" : "Search for works with authorships.institutions.is_global_south",
            "value" : "authorships.institutions.is_global_south:"
          },
          "authorships.institutions.lineage" : {
            "description" : "Search for works with authorships.institutions.lineage",
            "value" : "authorships.institutions.lineage:"
          },
          "authorships.institutions.ror" : {
            "description" : "Search for works with authorships.institutions.ror",
            "value" : "authorships.institutions.ror:"
          },
          "authorships.institutions.type" : {
            "description" : "Search for works with authorships.institutions.type",
            "value" : "authorships.institutions.type:"
          },
          "authorships.is_corresponding" : {
            "description" : "Search for works with authorships.is_corresponding",
            "value" : "authorships.is_corresponding:"
          },
          "best_oa_location.is_accepted" : {
            "description" : "Search for works with best_oa_location.is_accepted",
            "value" : "best_oa_location.is_accepted:"
          },
          "best_oa_location.is_oa" : {
            "description" : "Search for works with best_oa_location.is_oa",
            "value" : "best_oa_location.is_oa:"
          },
          "best_oa_location.is_published" : {
            "description" : "Search for works with best_oa_location.is_published",
            "value" : "best_oa_location.is_published:"
          },
          "best_oa_location.landing_page_url" : {
            "description" : "Search for works with best_oa_location.landing_page_url",
            "value" : "best_oa_location.landing_page_url:"
          },
          "best_oa_location.license" : {
            "description" : "Search for works with best_oa_location.license",
            "value" : "best_oa_location.license:"
          },
          "best_oa_location.source.host_organization" : {
            "description" : "Search for works with best_oa_location.source.host_organization",
            "value" : "best_oa_location.source.host_organization:"
          },
          "best_oa_location.source.host_organization_lineage" : {
            "description" : "Search for works with best_oa_location.source.host_organization_lineage",
            "value" : "best_oa_location.source.host_organization_lineage:"
          },
          "best_oa_location.source.id" : {
            "description" : "Search for works with best_oa_location.source.id",
            "value" : "best_oa_location.source.id:"
          },
          "best_oa_location.source.is_in_doaj" : {
            "description" : "Search for works with best_oa_location.source.is_in_doaj",
            "value" : "best_oa_location.source.is_in_doaj:"
          },
          "best_oa_location.source.is_oa" : {
            "description" : "Search for works with best_oa_location.source.is_oa",
            "value" : "best_oa_location.source.is_oa:"
          },
          "best_oa_location.source.issn" : {
            "description" : "Search for works with best_oa_location.source.issn",
            "value" : "best_oa_location.source.issn:"
          },
          "best_oa_location.source.type" : {
            "description" : "Search for works with best_oa_location.source.type",
            "value" : "best_oa_location.source.type:"
          },
          "best_oa_location.version" : {
            "description" : "Search for works with best_oa_location.version",
            "value" : "best_oa_location.version:"
          },
          "best_open_version" : {
            "description" : "Search for works with best_open_version",
            "value" : "best_open_version:"
          },
          "cited_by" : {
            "description" : "Search for works with cited_by",
            "value" : "cited_by:"
          },
          "cited_by_count" : {
            "description" : "Search for works with cited_by_count",
            "value" : "cited_by_count:"
          },
          "cited_by_percentile_year.max" : {
            "description" : "Search for works with cited_by_percentile_year.max",
            "value" : "cited_by_percentile_year.max:"
          },
          "cited_by_percentile_year.min" : {
            "description" : "Search for works with cited_by_percentile_year.min",
            "value" : "cited_by_percentile_year.min:"
          },
          "cites" : {
            "description" : "Search for works with cites",
            "value" : "cites:"
          },
          "concept.id" : {
            "description" : "Search for works with concept.id",
            "value" : "concept.id:"
          },
          "concepts.id" : {
            "description" : "Search for works with concepts.id",
            "value" : "concepts.id:"
          },
          "concepts.wikidata" : {
            "description" : "Search for works with concepts.wikidata",
            "value" : "concepts.wikidata:"
          },
          "concepts_count" : {
            "description" : "Search for works with concepts_count",
            "value" : "concepts_count:"
          },
          "corresponding_author_ids" : {
            "description" : "Search for works with corresponding_author_ids",
            "value" : "corresponding_author_ids:"
          },
          "corresponding_institution_ids" : {
            "description" : "Search for works with corresponding_institution_ids",
            "value" : "corresponding_institution_ids:"
          },
          "countries_distinct_count" : {
            "description" : "Search for works with countries_distinct_count",
            "value" : "countries_distinct_count:"
          },
          "default.search" : {
            "description" : "Search for works with default.search",
            "value" : "default.search:"
          },
          "display_name" : {
            "description" : "Search for works with display_name",
            "value" : "display_name:"
          },
          "display_name.search" : {
            "description" : "Search for works with display_name.search",
            "value" : "display_name.search:"
          },
          "doi" : {
            "description" : "Search for works with doi",
            "value" : "doi:"
          },
          "doi_starts_with" : {
            "description" : "Search for works with doi_starts_with",
            "value" : "doi_starts_with:"
          },
          "from_created_date" : {
            "description" : "Search for works with from_created_date",
            "value" : "from_created_date:"
          },
          "from_publication_date" : {
            "description" : "Search for works with from_publication_date",
            "value" : "from_publication_date:"
          },
          "fulltext.search" : {
            "description" : "Search for works with fulltext.search",
            "value" : "fulltext.search:"
          },
          "fulltext_origin" : {
            "description" : "Search for works with fulltext_origin",
            "value" : "fulltext_origin:"
          },
          "grants.award_id" : {
            "description" : "Search for works with grants.award_id",
            "value" : "grants.award_id:"
          },
          "grants.funder" : {
            "description" : "Search for works with grants.funder",
            "value" : "grants.funder:"
          },
          "has_abstract" : {
            "description" : "Search for works with has_abstract",
            "value" : "has_abstract:"
          },
          "has_doi" : {
            "description" : "Search for works with has_doi",
            "value" : "has_doi:"
          },
          "has_fulltext" : {
            "description" : "Search for works with has_fulltext",
            "value" : "has_fulltext:"
          },
          "has_ngrams" : {
            "description" : "Search for works with has_ngrams",
            "value" : "has_ngrams:"
          },
          "has_oa_accepted_or_published_version" : {
            "description" : "Search for works with has_oa_accepted_or_published_version",
            "value" : "has_oa_accepted_or_published_version:"
          },
          "has_oa_submitted_version" : {
            "description" : "Search for works with has_oa_submitted_version",
            "value" : "has_oa_submitted_version:"
          },
          "has_old_authors" : {
            "description" : "Search for works with has_old_authors",
            "value" : "has_old_authors:"
          },
          "has_orcid" : {
            "description" : "Search for works with has_orcid",
            "value" : "has_orcid:"
          },
          "has_pdf_url" : {
            "description" : "Search for works with has_pdf_url",
            "value" : "has_pdf_url:"
          },
          "has_pmcid" : {
            "description" : "Search for works with has_pmcid",
            "value" : "has_pmcid:"
          },
          "has_pmid" : {
            "description" : "Search for works with has_pmid",
            "value" : "has_pmid:"
          },
          "has_raw_affiliation_string" : {
            "description" : "Search for works with has_raw_affiliation_string",
            "value" : "has_raw_affiliation_string:"
          },
          "has_references" : {
            "description" : "Search for works with has_references",
            "value" : "has_references:"
          },
          "host_venue.id" : {
            "description" : "Search for works with host_venue.id",
            "value" : "host_venue.id:"
          },
          "ids.mag" : {
            "description" : "Search for works with ids.mag",
            "value" : "ids.mag:"
          },
          "ids.openalex" : {
            "description" : "Search for works with ids.openalex",
            "value" : "ids.openalex:"
          },
          "ids.pmcid" : {
            "description" : "Search for works with ids.pmcid",
            "value" : "ids.pmcid:"
          },
          "ids.pmid" : {
            "description" : "Search for works with ids.pmid",
            "value" : "ids.pmid:"
          },
          "institution.id" : {
            "description" : "Search for works with institution.id",
            "value" : "institution.id:"
          },
          "institutions.continent" : {
            "description" : "Search for works with institutions.continent",
            "value" : "institutions.continent:"
          },
          "institutions.country_code" : {
            "description" : "Search for works with institutions.country_code",
            "value" : "institutions.country_code:"
          },
          "institutions.id" : {
            "description" : "Search for works with institutions.id",
            "value" : "institutions.id:"
          },
          "institutions.is_global_south" : {
            "description" : "Search for works with institutions.is_global_south",
            "value" : "institutions.is_global_south:"
          },
          "institutions.ror" : {
            "description" : "Search for works with institutions.ror",
            "value" : "institutions.ror:"
          },
          "institutions.type" : {
            "description" : "Search for works with institutions.type",
            "value" : "institutions.type:"
          },
          "institutions_distinct_count" : {
            "description" : "Search for works with institutions_distinct_count",
            "value" : "institutions_distinct_count:"
          },
          "is_corresponding" : {
            "description" : "Search for works with is_corresponding",
            "value" : "is_corresponding:"
          },
          "is_oa" : {
            "description" : "Search for works with is_oa",
            "value" : "is_oa:"
          },
          "is_paratext" : {
            "description" : "Search for works with is_paratext",
            "value" : "is_paratext:"
          },
          "is_retracted" : {
            "description" : "Search for works with is_retracted",
            "value" : "is_retracted:"
          },
          "journal" : {
            "description" : "Search for works with journal",
            "value" : "journal:"
          },
          "keyword.search" : {
            "description" : "Search for works with keyword.search",
            "value" : "keyword.search:"
          },
          "keywords.keyword" : {
            "description" : "Search for works with keywords.keyword",
            "value" : "keywords.keyword:"
          },
          "language" : {
            "description" : "Search for works with language",
            "value" : "language:"
          },
          "locations.is_accepted" : {
            "description" : "Search for works with locations.is_accepted",
            "value" : "locations.is_accepted:"
          },
          "locations.is_oa" : {
            "description" : "Search for works with locations.is_oa",
            "value" : "locations.is_oa:"
          },
          "locations.is_published" : {
            "description" : "Search for works with locations.is_published",
            "value" : "locations.is_published:"
          },
          "locations.landing_page_url" : {
            "description" : "Search for works with locations.landing_page_url",
            "value" : "locations.landing_page_url:"
          },
          "locations.license" : {
            "description" : "Search for works with locations.license",
            "value" : "locations.license:"
          },
          "locations.source.has_issn" : {
            "description" : "Search for works with locations.source.has_issn",
            "value" : "locations.source.has_issn:"
          },
          "locations.source.host_institution_lineage" : {
            "description" : "Search for works with locations.source.host_institution_lineage",
            "value" : "locations.source.host_institution_lineage:"
          },
          "locations.source.host_organization" : {
            "description" : "Search for works with locations.source.host_organization",
            "value" : "locations.source.host_organization:"
          },
          "locations.source.host_organization_lineage" : {
            "description" : "Search for works with locations.source.host_organization_lineage",
            "value" : "locations.source.host_organization_lineage:"
          },
          "locations.source.id" : {
            "description" : "Search for works with locations.source.id",
            "value" : "locations.source.id:"
          },
          "locations.source.is_in_doaj" : {
            "description" : "Search for works with locations.source.is_in_doaj",
            "value" : "locations.source.is_in_doaj:"
          },
          "locations.source.is_oa" : {
            "description" : "Search for works with locations.source.is_oa",
            "value" : "locations.source.is_oa:"
          },
          "locations.source.issn" : {
            "description" : "Search for works with locations.source.issn",
            "value" : "locations.source.issn:"
          },
          "locations.source.publisher_lineage" : {
            "description" : "Search for works with locations.source.publisher_lineage",
            "value" : "locations.source.publisher_lineage:"
          },
          "locations.source.type" : {
            "description" : "Search for works with locations.source.type",
            "value" : "locations.source.type:"
          },
          "locations.version" : {
            "description" : "Search for works with locations.version",
            "value" : "locations.version:"
          },
          "locations_count" : {
            "description" : "Search for works with locations_count",
            "value" : "locations_count:"
          },
          "mag" : {
            "description" : "Search for works with mag",
            "value" : "mag:"
          },
          "oa_status" : {
            "description" : "Search for works with oa_status",
            "value" : "oa_status:"
          },
          "open_access.any_repository_has_fulltext" : {
            "description" : "Search for works with open_access.any_repository_has_fulltext",
            "value" : "open_access.any_repository_has_fulltext:"
          },
          "open_access.is_oa" : {
            "description" : "Search for works with open_access.is_oa",
            "value" : "open_access.is_oa:"
          },
          "open_access.oa_status" : {
            "description" : "Search for works with open_access.oa_status",
            "value" : "open_access.oa_status:"
          },
          "openalex" : {
            "description" : "Search for works with openalex",
            "value" : "openalex:"
          },
          "openalex_id" : {
            "description" : "Search for works with openalex_id",
            "value" : "openalex_id:"
          },
          "pmcid" : {
            "description" : "Search for works with pmcid",
            "value" : "pmcid:"
          },
          "pmid" : {
            "description" : "Search for works with pmid",
            "value" : "pmid:"
          },
          "primary_location.is_accepted" : {
            "description" : "Search for works with primary_location.is_accepted",
            "value" : "primary_location.is_accepted:"
          },
          "primary_location.is_oa" : {
            "description" : "Search for works with primary_location.is_oa",
            "value" : "primary_location.is_oa:"
          },
          "primary_location.is_published" : {
            "description" : "Search for works with primary_location.is_published",
            "value" : "primary_location.is_published:"
          },
          "primary_location.landing_page_url" : {
            "description" : "Search for works with primary_location.landing_page_url",
            "value" : "primary_location.landing_page_url:"
          },
          "primary_location.license" : {
            "description" : "Search for works with primary_location.license",
            "value" : "primary_location.license:"
          },
          "primary_location.source.has_issn" : {
            "description" : "Search for works with primary_location.source.has_issn",
            "value" : "primary_location.source.has_issn:"
          },
          "primary_location.source.host_institution_lineage" : {
            "description" : "Search for works with primary_location.source.host_institution_lineage",
            "value" : "primary_location.source.host_institution_lineage:"
          },
          "primary_location.source.host_organization" : {
            "description" : "Search for works with primary_location.source.host_organization",
            "value" : "primary_location.source.host_organization:"
          },
          "primary_location.source.host_organization_lineage" : {
            "description" : "Search for works with primary_location.source.host_organization_lineage",
            "value" : "primary_location.source.host_organization_lineage:"
          },
          "primary_location.source.id" : {
            "description" : "Search for works with primary_location.source.id",
            "value" : "primary_location.source.id:"
          },
          "primary_location.source.is_in_doaj" : {
            "description" : "Search for works with primary_location.source.is_in_doaj",
            "value" : "primary_location.source.is_in_doaj:"
          },
          "primary_location.source.is_oa" : {
            "description" : "Search for works with primary_location.source.is_oa",
            "value" : "primary_location.source.is_oa:"
          },
          "primary_location.source.issn" : {
            "description" : "Search for works with primary_location.source.issn",
            "value" : "primary_location.source.issn:"
          },
          "primary_location.source.publisher_lineage" : {
            "description" : "Search for works with primary_location.source.publisher_lineage",
            "value" : "primary_location.source.publisher_lineage:"
          },
          "primary_location.source.type" : {
            "description" : "Search for works with primary_location.source.type",
            "value" : "primary_location.source.type:"
          },
          "primary_location.version" : {
            "description" : "Search for works with primary_location.version",
            "value" : "primary_location.version:"
          },
          "publication_date" : {
            "description" : "Search for works with publication_date",
            "value" : "publication_date:"
          },
          "publication_year" : {
            "description" : "Search for works with publication_year",
            "value" : "publication_year:"
          },
          "raw_affiliation_string.search" : {
            "description" : "Search for works with raw_affiliation_string.search",
            "value" : "raw_affiliation_string.search:"
          },
          "referenced_works" : {
            "description" : "Search for works with referenced_works",
            "value" : "referenced_works:"
          },
          "referenced_works_count" : {
            "description" : "Search for works with referenced_works_count",
            "value" : "referenced_works_count:"
          },
          "related_to" : {
            "description" : "Search for works with related_to",
            "value" : "related_to:"
          },
          "repository" : {
            "description" : "Search for works with repository",
            "value" : "repository:"
          },
          "sustainable_development_goals.id" : {
            "description" : "Search for works with sustainable_development_goals.id",
            "value" : "sustainable_development_goals.id:"
          },
          "sustainable_development_goals.score" : {
            "description" : "Search for works with sustainable_development_goals.score",
            "value" : "sustainable_development_goals.score:"
          },
          "title.search" : {
            "description" : "Search for works with title.search",
            "value" : "title.search:"
          },
          "title_and_abstract.search" : {
            "description" : "Search for works with title_and_abstract.search",
            "value" : "title_and_abstract.search:"
          },
          "to_publication_date" : {
            "description" : "Search for works with to_publication_date",
            "value" : "to_publication_date:"
          },
          "to_updated_date" : {
            "description" : "Search for works with to_updated_date",
            "value" : "to_updated_date:"
          },
          "type" : {
            "description" : "Search for works with type",
            "value" : "type:"
          },
          "type_crossref" : {
            "description" : "Search for works with type_crossref",
            "value" : "type_crossref:"
          },
          "version" : {
            "description" : "Search for works with version",
            "value" : "version:"
          }
        },
        "explode" : true,
        "in" : "query",
        "name" : "filter",
        "required" : false,
        "schema" : {
          "$ref" : "#/components/schemas/filterWorksSchema"
        },
        "style" : "form"
      },
      "group_by_param" : {
        "explode" : true,
        "in" : "query",
        "name" : "group_by",
        "required" : false,
        "schema" : {
          "type" : "string"
        },
        "style" : "form"
      },
      "mailtoHeader" : {
        "description" : "[docs.openalex.org/how-to-use-the-api/rate-limits-and-authentication](https://docs.openalex.org/how-to-use-the-api/rate-limits-and-authentication#the-polite-pool)",
        "explode" : false,
        "in" : "header",
        "name" : "User-Agent",
        "required" : false,
        "schema" : {
          "$ref" : "#/components/schemas/mailToSchema"
        },
        "style" : "simple"
      },
      "mailtoQuery" : {
        "description" : "The API is the primary way to get OpenAlex data. It's free and requires no authentication.\nThe daily limit for API calls is 100,000 requests per user per day.\nFor best performance, add your email to all API requests\nThe email can be either in the query string, like `mailto:example@domain.com`, or in the User-Agent request header, like `User-Agent: my-app (mailto:example@domain.com)`.\nRead more about the polite pool at [docs.openalex.org/how-to-use-the-api/rate-limits-and-authentication](https://docs.openalex.org/how-to-use-the-api/rate-limits-and-authentication#the-polite-pool).",
        "explode" : true,
        "in" : "query",
        "name" : "mailto",
        "required" : false,
        "schema" : {
          "$ref" : "#/components/schemas/mailToSchema"
        },
        "style" : "form"
      },
      "page_param" : {
        "examples" : {
          "page" : {
            "value" : 1
          }
        },
        "explode" : true,
        "in" : "query",
        "name" : "page",
        "required" : false,
        "schema" : {
          "type" : "integer"
        },
        "style" : "form"
      },
      "per_page" : {
        "examples" : {
          "per_page" : {
            "value" : 3
          }
        },
        "explode" : true,
        "in" : "query",
        "name" : "per_page",
        "required" : false,
        "schema" : {
          "type" : "integer"
        },
        "style" : "form"
      },
      "sample" : {
        "explode" : true,
        "in" : "query",
        "name" : "sample",
        "required" : false,
        "schema" : {
          "type" : "integer"
        },
        "style" : "form"
      },
      "search" : {
        "explode" : true,
        "in" : "query",
        "name" : "search",
        "required" : false,
        "schema" : {
          "type" : "string"
        },
        "style" : "form"
      },
      "seed" : {
        "explode" : true,
        "in" : "query",
        "name" : "seed",
        "required" : false,
        "schema" : { },
        "style" : "form"
      },
      "select" : {
        "explode" : true,
        "in" : "query",
        "name" : "select",
        "required" : false,
        "schema" : {
          "type" : "string"
        },
        "style" : "form"
      },
      "sort" : {
        "explode" : true,
        "in" : "query",
        "name" : "sort",
        "required" : false,
        "schema" : {
          "type" : "string"
        },
        "style" : "form"
      },
      "workAttributeSelectionParameter" : {
        "explode" : false,
        "in" : "query",
        "name" : "select",
        "required" : false,
        "schema" : {
          "$ref" : "#/components/schemas/workSelectSchema"
        },
        "style" : "form"
      },
      "workId" : {
        "description" : "The id of the work to retrieve",
        "examples" : {
          "doi" : {
            "summary" : "DOI",
            "value" : "https://doi.org/10.1016/j.jinf.2020.05.071"
          },
          "mag" : {
            "summary" : "Microsoft Academic Graph ID",
            "value" : "mag:3033546757"
          },
          "openalex" : {
            "summary" : "OpenAlex ID",
            "value" : "W3033546757"
          },
          "openalex_url" : {
            "summary" : "OpenAlex URL",
            "value" : "https://openalex.org/W3033546757"
          },
          "pmcid" : {
            "summary" : "PubMed Central ID",
            "value" : "pmcid:7270800"
          },
          "pmid" : {
            "summary" : "PubMed ID",
            "value" : "pmid:32504740"
          }
        },
        "explode" : false,
        "in" : "path",
        "name" : "id",
        "required" : true,
        "schema" : {
          "$ref" : "#/components/schemas/workIdPattern"
        },
        "style" : "simple"
      }
    },
    "responses" : {
      "authorGet200" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/author"
            }
          }
        },
        "description" : "Single Author Response"
      },
      "authorsGet200" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/authorsResponseSchema"
            }
          }
        },
        "description" : "Authors List Response"
      },
      "autocompleteGet200Response" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/autoCompleteResultSchema"
            }
          }
        },
        "description" : "Successful response"
      },
      "conceptGet200Response" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/concept"
            }
          }
        },
        "description" : "Concept"
      },
      "conceptsGet200Response" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/conceptsResponseSchema"
            }
          }
        },
        "description" : "Concepts List"
      },
      "funderGet200Response" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/funderSchema"
            }
          }
        },
        "description" : ""
      },
      "fundersGet200Response" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/fundersArray"
            }
          }
        },
        "description" : ""
      },
      "getPerson200Response" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/personResponseSchema"
            }
          }
        },
        "description" : ""
      },
      "institutionGet200Response" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/institutionSchema"
            }
          }
        },
        "description" : ""
      },
      "institutionsGet200Response" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/institutionsResponseSchema"
            }
          }
        },
        "description" : ""
      },
      "publisherGet200Response" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/publisherSchema"
            }
          }
        },
        "description" : ""
      },
      "publishersGet200Response" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/publishersResponseSchema"
            }
          }
        },
        "description" : ""
      },
      "resp403" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/errorMessage"
            }
          }
        },
        "description" : ""
      },
      "resp4xx" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/resp4xxResponseSchema"
            }
          }
        },
        "description" : ""
      },
      "root200GetResponses" : {
        "content" : {
          "application/json" : {
            "examples" : {
              "application/json" : {
                "value" : {
                  "documentation_url" : "https://openalex.org/rest-api",
                  "msg" : "Don't panic",
                  "version" : "0.0.1"
                }
              }
            },
            "schema" : {
              "$ref" : "#/components/schemas/rootResponseSchema"
            }
          }
        },
        "description" : ""
      },
      "sourceGet200Response" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/sourceSchema"
            }
          }
        },
        "description" : ""
      },
      "sourcesGet200Response" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/sourcesArray"
            }
          }
        },
        "description" : ""
      },
      "workNgramsGet200Response" : {
        "content" : {
          "application/json" : {
            "examples" : {
              "ngram" : {
                "$ref" : "#/components/examples/example"
              }
            },
            "schema" : {
              "$ref" : "#/components/schemas/workNgramsSchema"
            }
          }
        },
        "description" : ""
      },
      "workResp" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/workSchema"
            }
          }
        },
        "description" : ""
      },
      "works" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/worksResponseSchema"
            }
          }
        },
        "description" : ""
      }
    },
    "schemas" : {
      "affiliations" : {
        "items" : {
          "properties" : {
            "institution" : {
              "$ref" : "#/components/schemas/dehydratedInstitution"
            },
            "years" : {
              "items" : { }
            }
          },
          "required" : [ "institution", "years" ]
        }
      },
      "apc" : {
        "additionalProperties" : false,
        "properties" : {
          "currency" : { },
          "provenance" : { },
          "value" : { },
          "value_usd" : { }
        },
        "required" : [ "currency", "provenance", "value", "value_usd" ]
      },
      "apc_prices" : {
        "additionalProperties" : { },
        "items" : {
          "additionalProperties" : false,
          "properties" : {
            "currency" : { },
            "price" : { }
          },
          "required" : [ "currency", "price" ]
        }
      },
      "associatedInstitution" : {
        "additionalProperties" : {
          "$ref" : "#/components/schemas/dehydratedInstitution"
        },
        "properties" : {
          "relationship" : { }
        }
      },
      "associatedInstitutionArray" : {
        "items" : {
          "$ref" : "#/components/schemas/associatedInstitution"
        }
      },
      "author" : {
        "additionalProperties" : false,
        "properties" : {
          "affiliations" : {
            "$ref" : "#/components/schemas/affiliations"
          },
          "cited_by_count" : { },
          "counts_by_year" : {
            "$ref" : "#/components/schemas/countsByYear"
          },
          "created_date" : { },
          "display_name" : { },
          "display_name_alternatives" : {
            "items" : { }
          },
          "id" : { },
          "ids" : {
            "$ref" : "#/components/schemas/ids"
          },
          "last_known_institution" : {
            "$ref" : "#/components/schemas/dehydratedInstitution"
          },
          "last_known_institutions" : {
            "$ref" : "#/components/schemas/dehydratedInstitutionArray"
          },
          "orcid" : { },
          "summary_stats" : {
            "$ref" : "#/components/schemas/summary_stats"
          },
          "updated_date" : { },
          "works_api_url" : { },
          "works_count" : { },
          "x_concepts" : {
            "$ref" : "#/components/schemas/dehydratedConceptArray"
          }
        },
        "required" : [ "display_name", "id" ]
      },
      "authorsResponseSchema" : {
        "properties" : {
          "group_by" : {
            "$ref" : "#/components/schemas/group_by_result"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          },
          "results" : {
            "items" : {
              "$ref" : "#/components/schemas/author"
            }
          }
        },
        "required" : [ "group_by", "meta" ]
      },
      "authorships" : {
        "items" : {
          "properties" : {
            "author" : {
              "properties" : {
                "display_name" : { },
                "id" : { },
                "orcid" : { }
              },
              "required" : [ "display_name", "id" ]
            },
            "author_position" : { },
            "countries" : {
              "items" : { }
            },
            "institutions" : {
              "items" : {
                "properties" : {
                  "country_code" : { },
                  "display_name" : { },
                  "id" : { },
                  "lineage" : {
                    "items" : { }
                  },
                  "ror" : { },
                  "type" : { }
                },
                "required" : [ "country_code", "display_name", "id", "lineage", "ror", "type" ]
              }
            },
            "is_corresponding" : { },
            "raw_affiliation_string" : { },
            "raw_affiliation_strings" : {
              "items" : { }
            },
            "raw_author_name" : { }
          },
          "required" : [ "author", "author_position", "countries", "institutions", "is_corresponding", "raw_affiliation_string", "raw_affiliation_strings", "raw_author_name" ]
        }
      },
      "autoCompleteResultItem" : {
        "properties" : {
          "cited_by_count" : { },
          "display_name" : { },
          "entity_type" : { },
          "external_id" : { },
          "filter_key" : { },
          "hint" : { },
          "id" : { },
          "works_count" : { }
        },
        "required" : [ "cited_by_count", "display_name", "entity_type", "external_id", "filter_key", "hint", "id", "works_count" ]
      },
      "autoCompleteResultSchema" : {
        "properties" : {
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          },
          "results" : {
            "items" : {
              "$ref" : "#/components/schemas/autoCompleteResultItem"
            }
          }
        },
        "required" : [ "meta", "results" ]
      },
      "baseSelectionAttributes" : {
        "enum" : [ "id", "display_name" ]
      },
      "concept" : {
        "additionalProperties" : false,
        "properties" : {
          "ancestors" : {
            "$ref" : "#/components/schemas/dehydratedConceptArray"
          },
          "cited_by_count" : { },
          "counts_by_year" : {
            "$ref" : "#/components/schemas/countsByYear"
          },
          "created_date" : { },
          "description" : { },
          "display_name" : { },
          "id" : { },
          "ids" : {
            "$ref" : "#/components/schemas/concept_ids"
          },
          "image_thumbnail_url" : { },
          "image_url" : { },
          "international" : {
            "$ref" : "#/components/schemas/international_display_name_and_description"
          },
          "level" : { },
          "related_concepts" : {
            "$ref" : "#/components/schemas/dehydratedConceptArray"
          },
          "summary_stats" : {
            "$ref" : "#/components/schemas/summary_stats"
          },
          "updated_date" : { },
          "wikidata" : { },
          "works_api_url" : { },
          "works_count" : { }
        },
        "required" : [ "display_name", "id" ]
      },
      "conceptIdPattern" : {
        "pattern" : "^C[0-9]+$"
      },
      "conceptSchema" : {
        "additionalProperties" : false,
        "properties" : {
          "ancestors" : {
            "$ref" : "#/components/schemas/dehydratedConceptArray"
          },
          "cited_by_count" : { },
          "counts_by_year" : {
            "$ref" : "#/components/schemas/countsByYear"
          },
          "created_date" : { },
          "description" : { },
          "display_name" : { },
          "id" : { },
          "ids" : {
            "$ref" : "#/components/schemas/concept_ids"
          },
          "image_thumbnail_url" : { },
          "image_url" : { },
          "international" : {
            "$ref" : "#/components/schemas/international_display_name_and_description"
          },
          "level" : { },
          "related_concepts" : {
            "$ref" : "#/components/schemas/dehydratedConceptArray"
          },
          "summary_stats" : {
            "$ref" : "#/components/schemas/summary_stats"
          },
          "updated_date" : { },
          "wikidata" : { },
          "works_api_url" : { },
          "works_count" : { }
        },
        "required" : [ "display_name", "id" ]
      },
      "conceptsArray" : {
        "items" : {
          "$ref" : "#/components/schemas/conceptSchema"
        }
      },
      "conceptsResponseSchema" : {
        "properties" : {
          "group_by" : {
            "$ref" : "#/components/schemas/group_by_result"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          },
          "results" : {
            "$ref" : "#/components/schemas/conceptsArray"
          }
        }
      },
      "countsByYear" : {
        "items" : {
          "properties" : {
            "cited_by_count" : { },
            "works_count" : { },
            "year" : { }
          },
          "required" : [ "cited_by_count", "year" ]
        }
      },
      "dehydratedConcept" : {
        "additionalProperties" : false,
        "properties" : {
          "display_name" : { },
          "id" : { },
          "level" : { },
          "score" : { },
          "wikidata" : { }
        },
        "required" : [ "display_name", "id" ]
      },
      "dehydratedConceptArray" : {
        "items" : {
          "$ref" : "#/components/schemas/dehydratedConcept"
        }
      },
      "dehydratedInstitution" : {
        "properties" : {
          "country_code" : { },
          "display_name" : { },
          "id" : { },
          "lineage" : {
            "items" : { }
          },
          "ror" : { },
          "type" : { }
        }
      },
      "dehydratedInstitutionArray" : {
        "items" : {
          "$ref" : "#/components/schemas/dehydratedInstitution"
        }
      },
      "errorMessage" : {
        "properties" : {
          "error" : { },
          "message" : { }
        },
        "required" : [ "error", "message" ]
      },
      "filterWorksSchema" : {
        "pattern" : "^((abstract\\.search)|(apc_list\\.currency)|(apc_list\\.provenance)|(apc_list\\.value)|(apc_list\\.value_usd)|(apc_paid\\.currency)|(apc_paid\\.provenance)|(apc_paid\\.value)|(apc_paid\\.value_usd)|(author\\.id)|(author\\.orcid)|(authors_count)|(authorships\\.author\\.id)|(authorships\\.author\\.orcid)|(authorships\\.countries)|(authorships\\.institutions\\.continent)|(authorships\\.institutions\\.country_code)|(authorships\\.institutions\\.id)|(authorships\\.institutions\\.is_global_south)|(authorships\\.institutions\\.lineage)|(authorships\\.institutions\\.ror)|(authorships\\.institutions\\.type)|(authorships\\.is_corresponding)|(best_oa_location\\.is_accepted)|(best_oa_location\\.is_oa)|(best_oa_location\\.is_published)|(best_oa_location\\.landing_page_url)|(best_oa_location\\.license)|(best_oa_location\\.source\\.host_organization)|(best_oa_location\\.source\\.host_organization_lineage)|(best_oa_location\\.source\\.id)|(best_oa_location\\.source\\.is_in_doaj)|(best_oa_location\\.source\\.is_oa)|(best_oa_location\\.source\\.issn)|(best_oa_location\\.source\\.type)|(best_oa_location\\.version)|(best_open_version)|(cited_by)|(cited_by_count)|(cited_by_percentile_year\\.max)|(cited_by_percentile_year\\.min)|(cites)|(concept\\.id)|(concepts\\.id)|(concepts\\.wikidata)|(concepts_count)|(corresponding_author_ids)|(corresponding_institution_ids)|(countries_distinct_count)|(default\\.search)|(display_name)|(display_name\\.search)|(doi)|(doi_starts_with)|(from_created_date)|(from_publication_date)|(fulltext\\.search)|(fulltext_origin)|(grants\\.award_id)|(grants\\.funder)|(has_abstract)|(has_doi)|(has_fulltext)|(has_ngrams)|(has_oa_accepted_or_published_version)|(has_oa_submitted_version)|(has_old_authors)|(has_orcid)|(has_pdf_url)|(has_pmcid)|(has_pmid)|(has_raw_affiliation_string)|(has_references)|(host_venue\\.id)|(ids\\.mag)|(ids\\.openalex)|(ids\\.pmcid)|(ids\\.pmid)|(institution\\.id)|(institutions\\.continent)|(institutions\\.country_code)|(institutions\\.id)|(institutions\\.is_global_south)|(institutions\\.ror)|(institutions\\.type)|(institutions_distinct_count)|(is_corresponding)|(is_oa)|(is_paratext)|(is_retracted)|(journal)|(keyword\\.search)|(keywords\\.keyword)|(language)|(locations\\.is_accepted)|(locations\\.is_oa)|(locations\\.is_published)|(locations\\.landing_page_url)|(locations\\.license)|(locations\\.source\\.has_issn)|(locations\\.source\\.host_institution_lineage)|(locations\\.source\\.host_organization)|(locations\\.source\\.host_organization_lineage)|(locations\\.source\\.id)|(locations\\.source\\.is_in_doaj)|(locations\\.source\\.is_oa)|(locations\\.source\\.issn)|(locations\\.source\\.publisher_lineage)|(locations\\.source\\.type)|(locations\\.version)|(locations_count)|(mag)|(oa_status)|(open_access\\.any_repository_has_fulltext)|(open_access\\.is_oa)|(open_access\\.oa_status)|(openalex)|(openalex_id)|(pmcid)|(pmid)|(primary_location\\.is_accepted)|(primary_location\\.is_oa)|(primary_location\\.is_published)|(primary_location\\.landing_page_url)|(primary_location\\.license)|(primary_location\\.source\\.has_issn)|(primary_location\\.source\\.host_institution_lineage)|(primary_location\\.source\\.host_organization)|(primary_location\\.source\\.host_organization_lineage)|(primary_location\\.source\\.id)|(primary_location\\.source\\.is_in_doaj)|(primary_location\\.source\\.is_oa)|(primary_location\\.source\\.issn)|(primary_location\\.source\\.publisher_lineage)|(primary_location\\.source\\.type)|(primary_location\\.version)|(publication_date)|(publication_year)|(raw_affiliation_string\\.search)|(referenced_works)|(referenced_works_count)|(related_to)|(repository)|(sustainable_development_goals\\.id)|(sustainable_development_goals\\.score)|(title\\.search)|(title_and_abstract\\.search)|(to_publication_date)|(to_updated_date)|(type)|(type_crossref)|(version)):.+"
      },
      "funderSchema" : {
        "additionalProperties" : false,
        "properties" : {
          "alternate_titles" : {
            "items" : { }
          },
          "cited_by_count" : { },
          "country_code" : { },
          "counts_by_year" : {
            "$ref" : "#/components/schemas/countsByYear"
          },
          "created_date" : { },
          "description" : { },
          "display_name" : { },
          "grants_count" : { },
          "homepage_url" : { },
          "id" : { },
          "ids" : {
            "$ref" : "#/components/schemas/ids"
          },
          "image_thumbnail_url" : { },
          "image_url" : { },
          "relevance_score" : { },
          "roles" : {
            "$ref" : "#/components/schemas/roles"
          },
          "summary_stats" : {
            "$ref" : "#/components/schemas/summary_stats"
          },
          "updated_date" : { },
          "works_count" : { }
        },
        "required" : [ "alternate_titles", "display_name", "id" ]
      },
      "fundersArray" : {
        "properties" : {
          "group_by" : {
            "$ref" : "#/components/schemas/group_by_result"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          },
          "results" : {
            "items" : {
              "$ref" : "#/components/schemas/funderSchema"
            }
          }
        },
        "required" : [ "group_by", "meta" ]
      },
      "geo" : {
        "properties" : {
          "city" : { },
          "country" : { },
          "country_code" : { },
          "geonames_city_id" : { },
          "latitude" : { },
          "longitude" : { },
          "region" : { }
        },
        "required" : [ "city", "country", "country_code", "geonames_city_id", "latitude", "longitude", "region" ]
      },
      "group_by_result" : {
        "items" : {
          "properties" : {
            "count" : { },
            "key" : { },
            "key_display_name" : { }
          },
          "required" : [ "count", "key", "key_display_name" ]
        }
      },
      "ids" : {
        "additionalProperties" : false,
        "properties" : {
          "crossref" : { },
          "doi" : { },
          "fatcat" : { },
          "grid" : { },
          "issn" : {
            "items" : { }
          },
          "issn_l" : { },
          "mag" : { },
          "openalex" : { },
          "orcid" : { },
          "pmcid" : { },
          "pmid" : { },
          "ror" : { },
          "scopus" : { },
          "wikidata" : { },
          "wikipedia" : { }
        },
        "required" : [ "openalex" ]
      },
      "institutionArray" : {
        "additionalProperties" : false,
        "items" : {
          "$ref" : "#/components/schemas/institutionSchema"
        }
      },
      "institutionSchema" : {
        "additionalProperties" : false,
        "properties" : {
          "associated_institutions" : {
            "$ref" : "#/components/schemas/associatedInstitutionArray"
          },
          "cited_by_count" : { },
          "country_code" : { },
          "counts_by_year" : {
            "$ref" : "#/components/schemas/countsByYear"
          },
          "created_date" : { },
          "display_name" : { },
          "display_name_acronyms" : {
            "items" : { }
          },
          "display_name_alternatives" : {
            "items" : { }
          },
          "geo" : {
            "$ref" : "#/components/schemas/geo"
          },
          "homepage_url" : { },
          "id" : { },
          "ids" : {
            "$ref" : "#/components/schemas/ids"
          },
          "image_thumbnail_url" : { },
          "image_url" : { },
          "international" : {
            "$ref" : "#/components/schemas/international_display_name"
          },
          "lineage" : {
            "items" : { }
          },
          "repositories" : {
            "$ref" : "#/components/schemas/repositoriesArray"
          },
          "roles" : {
            "$ref" : "#/components/schemas/roles"
          },
          "ror" : { },
          "summary_stats" : {
            "$ref" : "#/components/schemas/summary_stats"
          },
          "type" : { },
          "updated_date" : { },
          "works_api_url" : { },
          "works_count" : { },
          "x_concepts" : {
            "$ref" : "#/components/schemas/dehydratedConceptArray"
          }
        },
        "required" : [ "display_name", "id" ]
      },
      "institutionsResponseSchema" : {
        "properties" : {
          "group_by" : {
            "$ref" : "#/components/schemas/group_by_result"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          },
          "results" : {
            "$ref" : "#/components/schemas/institutionArray"
          }
        },
        "required" : [ "group_by", "meta" ]
      },
      "international_description" : {
        "properties" : {
          "description" : {
            "$ref" : "#/components/schemas/internationalisation"
          }
        }
      },
      "international_display_name" : {
        "properties" : {
          "display_name" : {
            "$ref" : "#/components/schemas/internationalisation"
          }
        }
      },
      "international_display_name_and_description" : {
        "properties" : {
          "description" : {
            "$ref" : "#/components/schemas/international_description"
          },
          "display_name" : {
            "$ref" : "#/components/schemas/international_display_name"
          }
        }
      },
      "internationalisation" : {
        "properties" : {
          "ab" : { },
          "ace" : { },
          "aeb-arab" : { },
          "af" : { },
          "ak" : { },
          "alt" : { },
          "am" : { },
          "an" : { },
          "ang" : { },
          "ar" : { },
          "arc" : { },
          "ary" : { },
          "arz" : { },
          "as" : { },
          "ast" : { },
          "atj" : { },
          "ay" : { },
          "az" : { },
          "azb" : { },
          "ba" : { },
          "ban" : { },
          "bar" : { },
          "bcl" : { },
          "be" : { },
          "be-tarask" : { },
          "bg" : { },
          "bho" : { },
          "bi" : { },
          "bm" : { },
          "bn" : { },
          "bo" : { },
          "bpy" : { },
          "br" : { },
          "bs" : { },
          "bxr" : { },
          "ca" : { },
          "cbk-zam" : { },
          "cdo" : { },
          "ce" : { },
          "ceb" : { },
          "chr" : { },
          "ckb" : { },
          "co" : { },
          "crh" : { },
          "crh-latn" : { },
          "cs" : { },
          "csb" : { },
          "cv" : { },
          "cy" : { },
          "da" : { },
          "de" : { },
          "de-at" : { },
          "de-ch" : { },
          "diq" : { },
          "dv" : { },
          "el" : { },
          "eml" : { },
          "en" : { },
          "en-ca" : { },
          "en-gb" : { },
          "en-us" : { },
          "eo" : { },
          "es" : { },
          "et" : { },
          "eu" : { },
          "ext" : { },
          "fa" : { },
          "fi" : { },
          "fo" : { },
          "fr" : { },
          "frc" : { },
          "frp" : { },
          "frr" : { },
          "fur" : { },
          "fy" : { },
          "ga" : { },
          "gan" : { },
          "gan-hans" : { },
          "gan-hant" : { },
          "gcr" : { },
          "gd" : { },
          "gl" : { },
          "gn" : { },
          "gpe" : { },
          "gsw" : { },
          "gu" : { },
          "gv" : { },
          "ha" : { },
          "hak" : { },
          "he" : { },
          "hi" : { },
          "hif" : { },
          "hr" : { },
          "hsb" : { },
          "ht" : { },
          "hu" : { },
          "hy" : { },
          "hyw" : { },
          "ia" : { },
          "id" : { },
          "ie" : { },
          "ig" : { },
          "ilo" : { },
          "inh" : { },
          "io" : { },
          "is" : { },
          "it" : { },
          "iu" : { },
          "ja" : { },
          "jam" : { },
          "jv" : { },
          "ka" : { },
          "kaa" : { },
          "kab" : { },
          "kbp" : { },
          "kg" : { },
          "kk" : { },
          "kk-arab" : { },
          "kk-cn" : { },
          "kk-cyrl" : { },
          "kk-kz" : { },
          "kk-latn" : { },
          "kk-tr" : { },
          "kl" : { },
          "km" : { },
          "kn" : { },
          "ko" : { },
          "ko-kp" : { },
          "krc" : { },
          "ks" : { },
          "ksh" : { },
          "ku" : { },
          "ku-latn" : { },
          "kw" : { },
          "ky" : { },
          "la" : { },
          "lad" : { },
          "lb" : { },
          "lfn" : { },
          "li" : { },
          "lij" : { },
          "lld" : { },
          "lmo" : { },
          "lo" : { },
          "lt" : { },
          "lv" : { },
          "lzh" : { },
          "mai" : { },
          "mg" : { },
          "min" : { },
          "mk" : { },
          "ml" : { },
          "mn" : { },
          "mni" : { },
          "mr" : { },
          "ms" : { },
          "ms-arab" : { },
          "mt" : { },
          "mwl" : { },
          "my" : { },
          "mzn" : { },
          "nah" : { },
          "nan" : { },
          "nap" : { },
          "nb" : { },
          "nds" : { },
          "nds-nl" : { },
          "ne" : { },
          "new" : { },
          "nia" : { },
          "nl" : { },
          "nn" : { },
          "nov" : { },
          "nqo" : { },
          "nrm" : { },
          "oc" : { },
          "or" : { },
          "os" : { },
          "pa" : { },
          "pam" : { },
          "pap" : { },
          "pcd" : { },
          "pdc" : { },
          "pih" : { },
          "pl" : { },
          "pms" : { },
          "pnb" : { },
          "ps" : { },
          "pt" : { },
          "pt-br" : { },
          "qu" : { },
          "rm" : { },
          "ro" : { },
          "ru" : { },
          "rue" : { },
          "rw" : { },
          "sa" : { },
          "sah" : { },
          "sat" : { },
          "sc" : { },
          "scn" : { },
          "sco" : { },
          "sd" : { },
          "se" : { },
          "sgs" : { },
          "sh" : { },
          "shi" : { },
          "si" : { },
          "sk" : { },
          "sl" : { },
          "smn" : { },
          "sms" : { },
          "so" : { },
          "sq" : { },
          "sr" : { },
          "sr-ec" : { },
          "sr-el" : { },
          "stq" : { },
          "su" : { },
          "sv" : { },
          "sw" : { },
          "syl" : { },
          "szl" : { },
          "ta" : { },
          "te" : { },
          "tg" : { },
          "tg-latn" : { },
          "th" : { },
          "ti" : { },
          "tk" : { },
          "tl" : { },
          "tr" : { },
[...]
